BODY {
	MARGIN: 0px
}
P {
	MARGIN: 0px
}
BODY {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TABLE {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
A:link {
	COLOR: #036; TEXT-DECORATION: none
}
A:visited {
	COLOR: #036; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A.menuChild:link {
	COLOR: #036; TEXT-DECORATION: none
}
A.menuChild:visited {
	COLOR: #036; TEXT-DECORATION: none
}
A.menuChild:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A.menuParent:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.menuParent:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.menuParent:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
TABLE.position {
	WIDTH: 100%
}
TR.position {
	HEIGHT: 25px; BACKGROUND-COLOR: #f4f7fc
}
TD.position {
	BORDER-RIGHT: #adceff 1px solid; PADDING-LEFT: 20px; BORDER-BOTTOM: #adceff 1px solid
}
TABLE.listTable {
	WIDTH: 98%; BACKGROUND-COLOR: #b1ceee
}
TR.listHeaderTr {
	FONT-WEIGHT: bold; HEIGHT: 25px; BACKGROUND-COLOR: #ebf4fd; TEXT-ALIGN: center
}
TR.listTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
TR.listAlternatingTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #fffdf0; TEXT-ALIGN: center
}
TR.listFooterTr {
	HEIGHT: 30px; BACKGROUND-COLOR: #ebf4fd; TEXT-ALIGN: center
}
TABLE.editTable {
	WIDTH: 98%; BACKGROUND-COLOR: #b1ceee
}
TR.editHeaderTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #ebf4fd
}
TD.editHeaderTd {
	PADDING-LEFT: 50px; FONT-WEIGHT: bold
}
TR.editTr {
	HEIGHT: 30px
}
TD.editLeftTd {
	WIDTH: 150px; BACKGROUND-COLOR: #fffdf0; TEXT-ALIGN: center
}
TD.editRightTd {
	PADDING-LEFT: 10px; BACKGROUND-COLOR: #fff
}
TR.editFooterTr {
	HEIGHT: 40px; BACKGROUND-COLOR: #ebf4fd
}
TD.editFooterTd {
	PADDING-LEFT: 150px
}
#yfweb{
background:#dff6ff;
margin:0 auto 5px;
width:100%;
clear:both;
}

#yfweb .yfweb {
border:1px #b3ccdd solid;
border-bottom:none;
margin:3px;
width:99.4%;
background:#f5fbff;
}

#yfweb .yfweb td,#yfweb .yfweb th{
border-bottom:1px #c5d8e8 solid;
padding:4px 8px;
}
#yfweb .yfweb tr{
onmouseover: expression(onmouseover=function (){this.style.backgroundColor ='#dff6ff'});
onmouseout: expression(onmouseout=function (){this.style.backgroundColor =''});
}
#yfweb .yfweb span.actionform{
display:block;
float:right;
}
#yfweb .yfweb .firstr{
border-bottom:1px #b3ccdd solid;
background:#e1f2fa;
font-weight:700;
color:#069;
}
#yfweb .yfweb .firstr th{
font-size:12px;
}

#yfweb .yfweb .firstr .left,.yfweb .yfweb .firstr .left {
float:left;
margin:2px 0 0;
}

#yfweb .yfweb .firstr .right,.yfweb .yfweb .firstr .right {
float:right;
margin:0 4px 0 0;
}

#yfweb .yfweb .firstr td{
border-bottom:1px #b3ccdd solid!important;
}

#yfweb .yfweb h5{
display:block;
width:120px;
float:left;
}

#yfweb .yfweb2 {
width:100%;
}

#yfweb .yfweb2 td {
border-bottom:none;
}

#yfweb span.title{
font-size:14px;font-weight:bold;margin:0 10px 0 2px;color:#006acd;
}

.yfweb {
line-height:22px;
color:#333;
}

.yfweb a {
text-decoration:none;
}

.yfweb a:hover {
text-decoration:underline;
}
.copyright {
text-align:center;
color:#666;
clear:both;
background:url(images/base_bg.gif) repeat-x 0 -46px;
border-top:1px solid #D9E7F9;
height:45px;
line-height:27px;
margin:10px auto;
}