<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<LINK href="images/admin.css" type="text/css" rel="stylesheet">
</HEAD>
<BODY>
<TABLE cellSpacing=0 cellPadding=0 width="100%" align=center border=0>
  <TR height=28>
    <TD background=images/title_bg1.jpg>当前位置: </TD></TR>
  <TR>
    <TD bgColor=#b1ceef height=1></TD></TR>
  <TR height=20>
    <TD background=images/shadow_bg.jpg></TD></TR></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="90%" align=center border=0>
  <TR height=100>
    <TD align=middle width=100><IMG height=100 src="images/admin_p.gif" 
      width=90></TD>
    <TD width=60>&nbsp;</TD>
    <TD>
      <TABLE height=100 cellSpacing=0 cellPadding=0 width="100%" border=0>
        
        <TR>
          <TD>当前时间：{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}</TD></TR>
        <TR>
          <TD style="FONT-WEIGHT: bold; FONT-SIZE: 16px">{$user} @ {$ip}</TD></TR>
        <TR>
          <TD>欢迎进入YfNews管理中心！</TD></TR></TABLE></TD></TR>
  <TR>
    <TD colSpan=3 height=10></TD></TR></TABLE>
<div id="yfweb">
<table width="100%" cellspacing="0" cellpadding="0" align="center" class="yfweb">
	<tr class="firstr">
	 <td colspan="2">
	 <span class="title">服务器信息</span></td>
	</tr>
	<tr>
		<td width="50%"><h5>服务器环境:</h5><?{$arrInfo.serverinfo}?></td>
		<td><h5>数据库版本:</h5><?{$mysqlver}?></td>
	</tr>
	<tr>
		<td><h5>register_globals</h5><?{$arrInfo.onoff}?></td>
		<td><h5>文件上传:</h5><?{$arrInfo.fileupload}?></td>
	</tr>
</table>
</div>
{include file="bottom.htm"}
</BODY></HTML>