@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; font-size:12px; color:#4c4c4c; list-style:none; text-decoration:none; border:none; font-family:"微软雅黑","宋体";}
img{border:0}
#layout { width:1100px; height:auto; margin:auto;}

#head { width:1100px; height:201px;margin-bottom:10px;}

#head1 { width:1100px; height:34px; background:url(../images/head1.jpg) no-repeat scroll 0 0;}
#head2 { width:1100px; height:33px; background:url(../images/head2.jpg) no-repeat scroll 0 0;}
#head3 { width:1100px; height:34px; background:url(../images/head3.jpg) no-repeat scroll 0 0;}
#head4 { width:1100px; height:33px; background:url(../images/head4.jpg) no-repeat scroll 0 0;}
#head5 { width:1100px; height:34px; background:url(../images/head5.jpg) no-repeat scroll 0 0;}
#head6 { width:1100px; height:33px; background:url(../images/head6.jpg) no-repeat scroll 0 0;}
#head6 ul {font-family:"雅黑"; font-size:14px; margin-left:80px;}
#head6 ul li {font-family:"雅黑"; font-size:14px; font-weight:bold; float:left; padding:0px 10px;}
#head6 ul li a:hover {color:#FFF; font-weight:bolder;text-decoration:underline;}


body { background-color:#FFF;}

#logo img { position:absolute; top:40px; left:140px;}



#main { width:1006px; height:600px; margin:auto;padding-left:30px;}

#left { width:340px; height:588px; float:left;}

#mail { width:316px; height:76px; background:url(../images/mail_bg.png) no-repeat scroll 0 0;}

#mail img { margin:15px 70px; display:inline;}

#mail a { cursor:hand;}

#content { width:470px; height:487px; float:left; position:relative;}

#news { width:278px; height:234px; background:url(../images/news_bg.png) no-repeat scroll 0 0; float:left;}

#notice { width:278px; height:252px; background:url(../images/notice_bg.png) no-repeat scroll 0 0; float:left;}

#news img, #notice img { margin-top:2px;}

#news ul, #notice ul { margin-top:10px;margin-left:10px;}

#news ul li, #notice ul li {list-style:disc; line-height:200%; margin-left:10px;}

#news ul li img, #notice ul li img { margin-right:10px;}

#news ul li a, #notice ul li a {}

#news ul li a:hover, #notice ul li a:hover { /* background-color:#06F;  */color:#000;text-decoration:underline;}

#nav { width:192px; height:487px; background:url(../images/nav_bg.png) no-repeat scroll 0 0; float:right; position:relative; top:2px; left:-35px;}

#nav ul { font-size:25px; font-weight:bold; margin:50px 0px 0px 42px;  text-align:center;}

#nav ul li { font-size:25px; font-weight:normal; line-height:22px;padding:10px 10px;}

#nav ul li a { font-size:20px; font-weight:bolder; line-height:22px; color:#ddd; width:100px; cursor:pointer;}

#nav ul li a:hover { color:#000000; position:relative;  cursor:pointer;}

#some { width:186px; height:487px; float:left; position:relative; top:30px; left:-20px;}

#some_head { width:; height:; background:url(../images/some_head.png) no-repeat scroll 0 0;}

.something { width:193px; height:134px; background:url(../images/some_bg.png) no-repeat scroll 0 0;}

.something a { cursor:pointer;}

.something img { margin:30px 40px;}

#some_bottom { width:; height:; background:url(../images/some_bottom.png) no-repeat scroll 0 0;}

#search { width:276px; height:57px; background:url(../images/search_bg.png) no-repeat scroll 0 0; float:left; margin:25px 15px; display:inline;}

/*#style img { position:relative; top:90px; right:280px;}*/

#style p { position:relative; top:90px; right:280px; font-size:14px;}

#keywords { width:175px; height:20px; margin:19px 36px; float:left;}

#button {float:left; position:relative; top:17px; right:20px;}

#system { width:305px; height:90px; float:left;margin-top:20px;margin-left:30px;}



.clear { clear:both;}

#bottom { width:960px; height:80px; border-top:2px solid #06F; margin:auto; padding-top:10px; margin-top:10px; line-height:150%; text-align:center; clear:both;}
#bottom p a:hover {font-size:16px; font-weight:bold;text-decoration:underline;}









