@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; font-size:12px; color:#4c4c4c; list-style:none; text-decoration:none; border:none; font-family:"微软雅黑","宋体";}
img{border:0}
#layout { width:1100px; height:auto; margin:auto;}

#head { width:1100px; height:201px;}

#head1 { width:1100px; height:34px; background:url(../images/head1.jpg) no-repeat scroll 0 0;}
#head2 { width:1100px; height:33px; background:url(../images/head2.jpg) no-repeat scroll 0 0;}
#head3 { width:1100px; height:34px; background:url(../images/head3.jpg) no-repeat scroll 0 0;}
#head4 { width:1100px; height:33px; background:url(../images/head4.jpg) no-repeat scroll 0 0;}
#head5 { width:1100px; height:34px; background:url(../images/head5.jpg) no-repeat scroll 0 0;}
#head6 { width:1100px; height:33px; background:url(../images/head6.jpg) no-repeat scroll 0 0;}
#head6 ul { margin-left:80px;}
#head6 ul li {font-family:"雅黑"; font-size:14px; font-weight:bold; float:left; padding:0px 10px;}
#head6 ul li a:hover {color:#FFF; font-weight:bolder;text-decoration:underline;}


body { background-color:#FFF;}

#logo img { position:absolute; top:40px; left:140px;}



/*#nav { width:1100px; height:56px; background:url(../images/nav.jpg) no-repeat scroll 0 0; margin-bottom:10px; margin:auto;}*/


#middle { width:960px; height:auto; margin:auto; margin-top:10px; clear:both;}
#left { width:755px; height:570px; float:left;}
#flash { width:755px; height:520px;/* background-color:#68BEE8;*/}
#flash embed { float:left; margin:auto; display:inline; width:188px; height:396px;}
#links { height:27px; line-height:27px; font-size:13px; word-spacing:20px; margin-left:40px; padding-top:5px;}
#links a { text-decoration:none;}
#links a:hover { text-decoration:underline; font-size:16px; font-weight:bolder;}

#right { width:193px; height:427px; float:left; display:inline; margin-left:6px;}

.clear { clear:both;}

#bottom { width:960px; height:80px; border-top:2px solid #06F; margin:auto; padding-top:10px; margin-top:10px; line-height:150%; text-align:center; clear:both;}
#bottom p a:hover {font-size:16px; font-weight:bold;text-decoration:underline;}




#some { width:186px; height:427px; float:left;/* position:relative; top:2px; left:-20px;*/}

#some_head { width:; height:; background:url(../images/some_head.png) no-repeat scroll 0 0;}

.something { width:193px; height:134px; background:url(../images/some_bg.png) no-repeat scroll 0 0;}

.something a { cursor:hand;}

.something img { margin:30px 40px;}

#some_bottom { width:; height:; background:url(../images/some_bottom.png) no-repeat scroll 0 0;}




/*list.php   css code*/
#list { width:688px; height:auto; border:1px solid #b7b7b7; float:left;}

#side { width:258px; height:auto; float:left; display:inline; margin-left:10px; border:1px solid #b7b7b7; background-color:#fafafa; padding:15px 0;}

#lead { font-size:14px; margin:10px 20px;}
#page { text-align:right; font-size:14px; margin:10px 30px 0 0; margin-bottom:20px;}
.list ul { list-style:inside; margin:30px 0 10px 30px;}
.list ul li { color:#aaa;}
.list ul li a { font-size:14px; line-height:200%; color:#000; margin-right:20px;}
.list ul li a:hover { text-decoration:underline;}
#page a { text-decoration:underline;}
#page a:hover { text-decoration:underline; color:#c60000;}

.crtip { color:#c60000; font-weight:bold; font-size:14px; line-height:200%; margin-left:25px; display:inline; text-decoration:underline;}
.crlist { margin:0px auto 20px;}
.crlist ul li a { display:inline; margin-left:10px; font-size:12px; line-height:150%;}
.crlist ul li a:hover { text-decoration:underline;}



/*view.php   css  code*/
#title { width:610px; border-bottom:1px solid #c60000; text-align:center; font-size:20px; margin:auto; line-height:120%; font-weight:100;}
#intro { width:610px; text-align:center; color:#666; margin:5px auto 20px;}
#content { width:610px; height:auto; font-size:14px; line-height:150%; margin:20px auto;}
#content p{ font-size:14px; }

.none{display:none}
.morelist{float:right;margin-top:-20px;margin-right:30px;}